# Token Twojego bota Telegram
TG_TOKEN=

# ID czatu/grupy Telegram (dla grup zwykle zaczyna się od -100... – wklej z minusem)
TG_CHAT_ID=

# Klucz API do Airly
AIRLY_API_KEY=

# Klucz API do Google Gemini (dodamy później – na razie puste)
GEMINI_API_KEY=
